/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px; /* Añadimos un padding a los lados para evitar que el contenido se pegue a los bordes */
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ccc;
}

/* Estilos específicos de la sección home */
#home {
  padding: 50px;
}

.game-preview {
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.imagen1,
.imagen2,
.imagen3,
.imagen4{
  margin-top: 7px;
  margin-left: 10px;
  width: 150px; /* Ajustamos el ancho al 100% */
  height: auto; /* Permitimos que la altura se ajuste automáticamente */
  border-bottom: 1px solid #ddd;
}

.game-preview h3 {
  margin: 10px 0;
  margin-left: 10px;
  font-size: 1.2rem;
}

.game-preview p {
  color: #666;
  margin-left: 10px;
}

.game-preview:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos específicos de la sección blogs */
#blogs {
  background-color: #f2f2f2;
  padding: 50px;
}

article {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

article:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

article h3 {
  margin: 10px 0;
}

article p {
  color: #666;
}

/* Estilos específicos de las otras secciones */
section {
  padding: 50px;
}

h2 {
  margin-bottom: 20px;
}

.logo {
  height: 80px; /* Reducimos un poco la altura del logo para que se ajuste mejor en la barra de navegación */
  width: auto; /* Dejamos que el ancho se ajuste automáticamente */
  margin-left: 20px; /* Añadimos un margen a la izquierda para separar el logo del resto de los elementos */
}

