/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  header {
    background-image: url('../img//logo/banner_index.jpg');
    background-size: cover; /* La imagen se ajustará para cubrir todo el contenedor */
    background-position: center;/* Cambiamos el color de fondo de la barra de navegación */
    color: #000; /* Color del texto */
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif; /* Formato de letra más llamativo */
  }
  
  #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Color de fondo de la barra de navegación */
  padding: 10px 20px; /* Espaciado interno */

  }
  .logo {
    height: 100px; 
    width: auto; /* Dejamos que el ancho se ajuste automáticamente */
    margin-left: 20px; /* Añadimos un margen a la izquierda para separar el logo del resto de los elementos */
  }

  .nav {
    display: flex;
    align-items: center;
    
  }
  
  .nav-link {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    margin: 10px 15px; /* Espaciado entre elementos de navegación */
    padding: 10px 15px; /* Espaciado interno de cada enlace */
    border-radius: 5px; /* Borde redondeado */
    background-color:#181d25;/* Color de fondo de cada enlace */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  }
  .u-nav:hover {
    color: #000000;
    border-bottom: 2px solid #000000; /* Añadimos un borde inferior al pasar el mouse */
  }
  .nav-link:hover {
    background-color: #0281ff; /* Cambio de color de fondo al pasar el mouse */
  }
  
  .nav-right {
    margin-left: 0px; /* Mover los elementos de la derecha hacia la derecha */
    
  }
  
  .cerrar:hover{
    color: red;
    border-bottom: 2px solid red;
  }
  .registro:hover{
    color: yellow;
    border-bottom: 2px solid yellow;
  }
  .iniciar:hover{
    color: yellow;
    border-bottom: 2px solid yellow;
  }
  /* Estilos específicos de la sección home */
  #home {
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .game-preview {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .imagen1,
  .imagen2,
  .imagen3,
  .imagen4{
    margin-top: 7px;
    margin-left: 10px;
    width: 150px; /* Ajustamos el ancho al 100% */
    height: auto; /* Permitimos que la altura se ajuste automáticamente */
    border-bottom: 1px solid #ddd;
  }
  
  .game-preview h3 {
    margin: 10px 0;
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  .game-preview p {
    color: #4d4d4d;
    margin-left: 10px;
    margin-right: 17px;
  }
  
  .game-preview:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  }
  
  /* Estilos específicos de la sección blogs */
  #blogs {
    background-color: #f2f2f2;
    padding: 50px;
  }
  
  h3 {
    margin: 10px 0;
  }
  
  p {
    color: #666;
    
  }
  
  /* Estilos específicos de las otras secciones */
  section {
    padding: 50px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .separator {
    margin: 30px 0px; /* Espaciado arriba y abajo de la línea */
    border: none; /* Eliminamos el borde por defecto */
    border-top: 1px solid #ccc; /* Añadimos un borde superior de color gris */
  }
  
  /* Estilos específicos para la sección de galería */
  #gallery {
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0%;
    
  }
  #gallery img.imagen1,
  #gallery img.imagen2,
  #gallery img.imagen3,
  #gallery img.imagen4 {
      max-width: 130px; /* Establece un ancho máximo más pequeño para las imágenes 1 y 2 */
      height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
      border: 2px solid transparent; /* Agrega un borde transparente alrededor de las imágenes */
      transition: border-color 0.3s ease; /* Agrega una transición suave para el cambio de color de borde */
  }
  
  #gallery img.imagen1:hover,
  #gallery img.imagen2:hover,
  #gallery img.imagen3:hover,
  #gallery img.imagen4:hover {
      transform: scale(1.1); /* Escala la imagen al 110% cuando se hace hover */
      transition: transform 0.3s ease; /* Agrega una transición suave */
      cursor: pointer; /* Cambia el cursor a un puntero al hacer hover */
      opacity: 0.8; /* Reduce la opacidad de la imagen */
      border-color: #ccc; /* Cambia el color del borde al hacer hover */
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Agrega una sombra al hacer hover */
  }

  .gallery-container {
    width: 50%; /* Ocupa la mitad del espacio horizontal */
    margin: 0 auto; /* Centra horizontalmente el elemento */
    overflow: auto;
    white-space: nowrap;
    display: flex; 
    justify-content: center; /* Centramos horizontalmente las imágenes */
    padding-right: 17px;
    margin-bottom: 0px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.gallery-container:hover{
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}
.uno,
.dos,
.tres,
.cuatro{
  padding-top: 20px;
  padding-bottom: 20px;
}
  /* Estilos para los botones de navegación */
  .navigation {
    margin-top: 15px;
    text-align: center;

  }
  
  #prevBtn,
  #nextBtn,
  .add {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
  }
  
  #prevBtn:hover,
  #nextBtn:hover {
    background-color: #1977dd;
    transform: translateY(-2px);
  }
  
  /* Estilos específicos para las secciones "Sobre Nosotros" y "Contacto" */
  #about{
    padding-bottom: 5px;
    padding-top: 10px;
  }

  #contact{
    padding-top: 25px;
  }
  #about h2,
  #contact h2 {
      
      color: #000; /* Color del texto del título */
  }
  
  #about p,
  #contact p {
      color: #000000; /* Color del texto del párrafo */
      
      margin-bottom: 20px;
  }
  
  /* Estilos para el desplegable "Sobre Nosotros" */
  #about details {
      margin-top: 20px;
  }
  
  #about details summary {
      cursor: pointer;
      background-color: #ddd; /* Color de fondo para el resumen */
      padding: 10px 15px; /* Espaciado interno */
      border-radius: 5px; /* Borde redondeado */
  }
  
  #about details summary:hover,
  #contact details summary:hover {
      background-color: #ccc; /* Cambio de color de fondo al pasar el mouse */
  }
  
  #about details p {
      margin-top: 10px;
  }
  /* Footer */
  #footer {
    padding-top: 10px;
    
    margin: 0;
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    
    border-top: 1px solid #ccc;
}
.footer-content{
  padding-right: 530px;
}
.footer-content,
.footer-social {
    flex: 1;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social ul li {
    display: inline;
    margin-right: 30px;
    
}

.footer-social ul li:last-child {
    margin-right: 0;
}
ul{
  list-style-type: none;
  padding-left: 0%;
  
}
li{
  
  margin-bottom: 10px;
}
.footer-social ul li a {
    text-decoration: none;
    color: #171717;
    
}

.footer-social ul li a:hover {
    color: #363636;
}
.footer-social img {
  width: 40px; /* Tamaño deseado para la imagen */
  margin-top: 5px; /* Espacio superior para separar la imagen del enlace */
}
  
  
  
  
  