* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
body {
    background-image: url('../img/login-backgroung.jpg');

    background-color: #333; /* Cambiar el color de fondo */
    color: #fff; /* Cambiar el color del texto */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* La imagen se ajustará para cubrir todo el contenedor */
    background-position: center;
}

#wrapper {

    background-color: rgba(255, 255, 255, 0.2); /* Cambiar el color de fondo */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Agregar sombra */
}

#mainBox {
    max-width: 600px;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

#welcomeMsg {
    flex: 1; /* Ocupa el espacio disponible */
    padding-right: 20px; /* Añadir espacio a la derecha */
}

#loginForm {
    flex: 1; /* Ocupa el espacio disponible */
    padding-left: 20px; /* Añadir espacio a la izquierda */
}

.element {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Cambiar el color de fondo */
    border-radius: 10px;
}

h1 {

    margin-bottom: 10px;
    font-size: 23px;
    
}

p {
    font-size: 16px;
    line-height: 2;
    margin: 0px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input[type="email"],
input[type="password"],
input[type="ciudad"],
input[type="nombre"],
input[type="apellidos"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444; /* Cambiar el color de fondo */
    color: #ffffff; /* Cambiar el color del texto */
    font-size: 16px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #007bff; /* Cambiar el color de fondo */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

a{
    font-size: 16px;
    color: orange;
    
}